body{
background: #22aaff;
}
aside{
text-align: right;
margin: 50px;
}
div{
width: 500px;
background-color: #000;
color: #fff;
}
header{
text-align: center;
}
article{
text-align: center;
}